
section {
  margin-top: 100px;
  padding: 50px;
  padding-top: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #158CBA;
}

nav ol {
  margin-top: 57px;
}

.breadcrumb {
  padding-top: 5px;
  z-index: 500;
  width: fit-content;
  font-size: 11px;
  height: 30px;
}
.breadcrumb .icofont
{
  font-size: inherit;
}
.icofont{
      font-size: 20px;
}
.alert{
  position: fixed;
  bottom: 0px;
  left: 20%;
  right: 20%;
  min-height: 50px;
  width: auto;
  z-index: 99999;
  display: none;
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 57px;
  left: 0;
  z-index: 2000;
  background: #FFF;
  display: flex;
  justify-content: center;
}

#pageInfo img {
  height: 30px;
}

#pageInfo label {
  display: inline-block;
}

#pageInfo-listOfPlugins a {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

#pageInfo-listOfPlugins li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

#pageInfo-listOfPlugins a img {
  margin-right: 10px;
}

#pagePages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#pagePages .card .card-header {
  display: flex;
  justify-content: space-between;
  cursor: grab;
      align-items: baseline;
}

#editor .ql-editor {
  min-height: 200px;
}

.flex {
  display: flex;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
}

.flex-column-vertical-center {
  display: flex;
  align-self: center;
}
#loginPage {
  text-align:center;
}
#loginPage input{width: fit-content; margin: auto;}
