
  <div class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <a class="navbar-brand" href="index.php">Editor Obsahu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="pages.php">Stránky</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="articles.php">Články</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="simpleNews.php">Aktuality</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="galleries.php">Galerie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="forms.php">Formuláře</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nastavení</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="info.php">O Programu</a>
          </li>
        </ul>
        <a href="logout.php" class="card-link btn btn-secondary">Odhlásit</a>
        <form class="form-inline my-2 my-lg-0" hidden>
          <input class="form-control mr-sm-2" type="text" placeholder="Hledat">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Hledat</button>
        </form>
      </div>
    </div>
